@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --dark-green: #001a00;
  --light-green: #c4ed86;
  --white: #ffffff;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

header {
  position: sticky;
  z-index: 200;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.nav {
  padding: 1rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 50px 0;
}

.logo {
  font-size: 27px;
  font-weight: 600;
  background: linear-gradient(to right, var(--light-green), var(--dark-green));
  color: var(--white);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #000;
}

.main-section {
  width: 100%;
  background-image: url(images/background.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.content-cover {
  display: flex;
  max-width: 650px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 2rem;
  backdrop-filter: blur(5px);
  background: rgba(148, 255, 182, 0.4);
  border-radius: 25px;
}

.content-cover h1 {
  font-size: 3rem;
  margin: 0;
}

.btn {
  padding: 1rem;
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0;
  color: #000;
  background: linear-gradient(to right, var(--light-green), var(--light-green));
  cursor: pointer;
}

.animate-image {
  position: absolute;
  top: 0;
  right: 250px;
  animation-name: moveimage;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.animate-image img {
  width: 350px;
}

/* animation of the image */

@keyframes moveimage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

/*  shopping page */

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1.5rem;
  padding: 2rem 0;
}

.product-card {
  background: #ffffff;
  box-shadow: 0 4px 9px rgba(38, 106, 59, 0.4);
  border-radius: 30px;
  padding: 10px;
  max-height: fit-content;
  cursor: pointer;
}

.product-card img {
  width: 100%;
  max-height: 300px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.product-card;
